{% extends('base.html.twig') %}

{% block body %}
    <br>
    <br>
    <h1>Bienvenue sur la page shopping !</h1>
    <br>
    <br>
    <div>En cliquant sur Create, vous pourrez ajouter des items à la liste des courses...</div>
    <br>
    <br>
    <div>En cliquant sur Shopping List, vous pourrez découvrir la liste des courses, et supprimer également les articles de votre choix...</div>
    <br>
    <br>
{%  endblock body %}