<nav>
    <ul>
        <li><a href="http://localhost/shopping/public/" title="symfony">SYMFONY</a></li>
        <li><a href="{{ url('main_home') }}" title="home">HOME</a></li>
        <li><a href="{{ url('shop_create') }}" title="create">CREATE</a></li>
        <li><a href="{{ url('shop_shoplist') }}" title="shoplist">SHOPPING LIST</a></li>
    </ul>
</nav>
